@import "../scss/mixins";

.mat-header-row {
  height: 20px;
}

.filter {
  width: 90%;
}

// TOOLTIP CSS
.truncate-cells {
  width: 100%;
  table-layout: fixed;

  .truncate {
    @include text-truncate();
  }
}

.custom-tooltip {
  font-size: 150px;
}

// FILTER CSS
.filter {
  display: block;
}

// SHORT PADDING ROWS

.mat-row {
  height: 25px;
}

// ALTERNATE COLOR CSS

.mat-row:nth-child(even) {
  background-color: whitesmoke;
}

.mat-row:nth-child(odd) {
  background-color: rgb(200, 200, 200);
}
